<main>

@if (taskdetails.updated.length===0) {
<form [formGroup]="form">
    <div>
        <section>
        <label>Task name</label>
        <input type="text" #taskname formControlName="taskname"/>
    </section>
    <section>
        <label>Description</label>
        <input type="text" #description formControlName="description"/>
    </section>
    <section>
        <button type="submit" (click)="submit(taskname.value,description.value)">Add</button>
    </section>
    </div>
</form>
}

@if (taskdetails.updated.length>0) {
    <div>
        <section>
        <label>Task name</label>
        <input type="text" [ngModel]="taskdetails.updated[0].taskname" #updatedname>
    </section>
    <section>
        <label>Description</label>
        <input type="text" [ngModel]="taskdetails.updated[0].description" #updateddesc>
    </section>
    <section>
        <button type="submit" (click)="abcd(updatedname.value,updateddesc.value)">Add</button>
    </section>
    </div>
}

</main>